<main class='main'>
  <section class='cadastro'>
    <h2>Cadastro de Usuário</h2>
    <form action='/auth/register' method='POST' class='formulario'>
      <div class='formulario__box'>
        <label for='name'>Nome:</label>
        <input
          type='text'
          name='name'
          id='name'
          placeholder='Digite seu nome'
          required
        />
      </div>
      <div class='formulario__box'>
        <label for='email'>Email:</label>
        <input
          type='email'
          name='email'
          id='email'
          placeholder='Digite seu email'
          required
        />
      </div>
      <div class='formulario__box'>
        <label for='password'>Senha:</label>
        <input
          type='password'
          name='password'
          id='password'
          placeholder='Digite sua senha'
          required
        />
      </div>
      <div class='formulario__box'>
        <label for='confirmpassword'>Confirmar Senha:</label>
        <input
          type='password'
          name='confirmpassword'
          id='confirmpassword'
          placeholder='Confirme sua senha'
          required
        />
      </div>
      <div class='formulario__box'>
        <button type='submit' class='formulario__btn'>Cadastre-se</button>
      </div>
    </form>
  </section>
  <div class='cadastro--btn-back'>
    <a href='/'>Voltar</a>
  </div>
</main>