<main class='main'>
  <form
    action='/admin/criar-produto'
    method='POST'
    class='cadastro'
    enctype='multipart/form-data'
  >
    <h2>Cadastro de Produtos</h2>
    <div class='cadastro__box'>
      <label class='cadastro__label' for='name_prod'>Nome</label>
      <input
        class='cadastro__input'
        type='text'
        id='name_prod'
        name='name_prod'
        placeholder='Nome do produto'
        required
        maxlength='30'
      />
    </div>
    <div class='cadastro__box'>
      <label class='cadastro__label' for='price_prod'>Preço</label>
      <input
        class='cadastro__input'
        type='number'
        step='0.01'
        id='price_prod'
        name='price_prod'
        placeholder='Preço do produto'
        required
      />
    </div>
    <div class='cadastro__box'>
      <label class='cadastro__label' for='category_prod'>Categoria</label>
      <input
        class='cadastro__input'
        type='text'
        id='category_prod'
        name='category_prod'
        placeholder='Categoria do produto'
        required
        maxlength='30'
      />
    </div>
    <div class='cadastro__box'>
      <label class='cadastro__label' for='description_prod'>Descrição</label>
      <textarea
        class='cadastro__input'
        id='description_prod'
        name='description_prod'
        placeholder='Descrição do produto'
        required
        maxlength='255'
      ></textarea>
    </div>
    <div class='cadastro__box'>
      <label class='cadastro__label' for='image_prod'>Imagem</label>
      <input
        class='cadastro__input'
        type='file'
        id='image_prod'
        name='image_prod'
        accept='image/*'
        required
      />
    </div>
    <button type='submit' class='cadastro__btn'>Cadastrar</button>
  </form>
  <div class='cadastro--btn-back'>
    <a href='/produtosLista'>Voltar</a>
  </div>
</main>