<body>
  <div class='conteiner-main__img'>
    <img src='/upload/img/banner-Principal.png' alt='Monte ja sua Pizza' />
  </div>
  <section>
    <h1 class='header-main__title'>Pagamento Pix</h1>
  </section>
  <main class='main'>
    <div class='pagamento'>
      <h2>Pagamento via PIX</h2>
      <form action='/processar-pix' method='POST' class='formulario'>
        <div class='formulario__box'>
          <label for='nome'>Nome:</label>
          <input
            type='text'
            name='nome'
            id='nome'
            placeholder='Nome completo'
            required
          />
        </div>
        <div class='formulario__box'>
          <label for='cpf'>CPF:</label>
          <input
            type='text'
            name='cpf'
            id='cpf'
            placeholder='XXX.XXX.XXX-XX'
            required
          />
        </div>
        <div class='formulario__box'>
          <label for='valor'>Valor:</label>
          <input
            type='number'
            name='valor'
            id='valor'
            step='0.01'
            value='{{total}}'
            readonly
          />
        </div>
        <div class='formulario__box'>
          <button type='submit' class='formulario__pagamento'>Gerar QR Code</button>
        </div>
      </form>
    </div>
    <div class='cadastro--btn-back'>
      <a href='/finalizarCompra'>Voltar</a>
    </div>
  </main>
  <script defer src='https://sdk.mercadopago.com/js/v2'></script>
  <script>
    const mp = new MercadoPago('{{mercadoPagoPublicKey}}');
  </script>
</body>